<div class="lists">
  <h3><%= @list.name %>
      <small><%= link_to 'Back', :back %></small>
  </h3> <br />

  <%= render partial: 'items/form', locals: { list: @list, item: @new_item } %>

  <% @items.each do |item| %>
    <p><%= item.url %></p>
  <% end %>

</div>
